
body {
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

.top {
    background-color: #1f2937;
    overflow: auto;
    color: white;
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;
}

.right-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.callout  {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;

}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 175px;
    background-color: lightgray;
}

.left1 {
    flex: 1;
    display: block;
    padding-right: 25px;
    gap: 20px;
}

.right1 {
    flex: 1;
    padding-left: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.subtext {
    padding-bottom: 10px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.randominfo {
    padding-top: 25px;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}